<div class="nav-top">
    <div class="container d-flex flex-row">
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
							<i class="icon-menu"></i>
						</span>
        </button>
        <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
        <!-- Logo Header -->
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="https://via.placeholder.com/100x35" alt="navbar brand" class="navbar-brand">
        </a>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg p-0">

            <div class="container-fluid p-0">
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link" href="/">
                            <i class="fa fa-sign-out-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <a href="#" class="nav-link quick-sidebar-toggler">
                            <i class="fa fa-building"></i>
                            <span>Conduction</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown hidden-caret">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                            <div class="avatar-sm">
                                <img src="https://via.placeholder.com/50" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                            <div class="dropdown-user-scroll scrollbar-outer">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="https://via.placeholder.com/50" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <h4>Hizrian</h4>
                                            <p class="text-muted">hello@example.com</p><a href="https://www.id-vault.com/dashboard" class="btn btn-xs btn-secondary btn-sm" target="_blank">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="https://www.id-vault.com/dashboard" target="_blank>My Profile</a>
                                    <a class="dropdown-item" href="/">Logout</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
    </div>
</div>
<div class="nav-bottom">
    <div class="container">
        <h3 class="title-menu d-flex d-lg-none">
            Menu
            <div class="close-menu"> <i class="flaticon-cross"></i></div>
        </h3>
        <ul class="nav page-navigation page-navigation-info bg-white">
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_index' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard_index') }}">
                    <i class="link-icon fal fa-tachometer"></i>
                    <span class="menu-title">{{ 'dashboard'|trans|capitalize }}</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_clusters' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard_clusters') }}">
                    <i class="link-icon fal fa-server"></i>
                    <span class="menu-title">{{ 'clusters'|trans|capitalize }}</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_installations' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard_installations') }}">
                    <i class="link-icon fal fa-browser"></i>
                    <span class="menu-title">{{ 'installations'|trans|capitalize }}</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_components' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard_components') }}">
                    <i class="link-icon fal fa-chart-network"></i>
                    <span class="menu-title">{{ 'components'|trans|capitalize }}</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_databases' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard_databases') }}">
                    <i class="link-icon fal fa-database"></i>
                    <span class="menu-title">{{ 'databases'|trans|capitalize }}</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_invoices' %}active{% endif %}">
                <a class="nav-link" href="{{ path('app_dashboard_invoices') }}">
                    <i class="link-icon fal fa-file-invoice-dollar"></i>
                    <span class="menu-title">{{ 'invoices'|trans|capitalize }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
